##############################
## DB BACKUP CONFIG         ##
##############################

# Required database type
# Currently supported values are 'postgres' and 'oracle'
DB_TYPE=postgres

# Optional system user to run backups as.  If the user the script is running as doesn't match this
# the script terminates.  Leave blank to skip check.
DB_BACKUP_USER=

# Optional DB_HOSTNAME to adhere to pg_hba policies.  Will default to "localhost" if none specified.
DB_HOSTNAME=

# Optional DB_USERNAME to connect to database as.  Will default to "postgres" if none specified.
DB_USERNAME=

# Optional DB_PASSWORD to connect to the database.  Will search in .pgpass or in environment variables
# if empty. *DO NOT COMMMIT THIS PASSWORD TO VERSION CONTROL*
DB_PASSWORD=

# Service name (only applicable to Oracle)
DB_ORACLE_SERVICE_NAME=

# This dir will be created if it doesn't exist.  This must be writable by the user the script is
# running as. Include a trailing slash.
DB_STAGING_DIR=/home/backups/database-backup/

# Will produce a custom-format backup if set to "yes"
DB_ENABLE_CUSTOM_BACKUPS=no

# Will produce a gzipped plain-format backup if set to "yes"
DB_ENABLE_PLAIN_BACKUPS=yes

# Will produce gzipped sql file containing the cluster globals, like users and passwords, if set to "yes"
DB_ENABLE_GLOBALS_BACKUPS=yes

# Number of simultaneously/parallel processes
PARALLEL_PROCESSES=4


#### SETTINGS FOR ROTATED BACKUPS ####

# Which day to take the weekly backup from (1-7 = Monday-Sunday)
DB_DAY_OF_WEEK_TO_KEEP=6

# Number of days to keep daily backups
DB_DAYS_TO_KEEP=7

# How many weeks to keep weekly backups
DB_WEEKS_TO_KEEP=4


#### SETTINGS FOR CLOUD BACKUPS ###

# Choice of cloud backend (aws=AWS S3 or azure=Azure Blob Storage)
DB_CLOUD_BACKUP_BACKEND=aws

# S3 full path or Azure directory name for backups (include trailing slash)
DB_CLOUD_BACKUP_PATH=s3://bucket/prefix/

# Azure container name
DB_AZURE_CONTAINER=

# Azure account name
DB_AZURE_ACCOUNT=